.header{
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
}
.container{
    display: flex;
    background-color: #ffb44f;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    padding-left: 60px;
    padding-right: 60px;
    gap: 4vw;
}
.logoLink{
    display: flex;
}
.logoAndName{
    display: flex;
    gap: 4px;
}
.logoOut{
    display: flex;
    align-items: center;
}
.brandName{
    color: black;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.logoLink:hover{
    text-decoration: none;
}

.headerMiddle{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4vw;
    
}
.headerMiddleItem{
    color: black;
    font-size: 28px;
    text-decoration: none;
}
.headerMiddleItem:hover{
    color: white;
    border-bottom: 1px solid white;
}
.headerRight{
    /* border: 2px solid rgb(255, 0, 102);  */
    display: flex;
    align-items: center;
}
.headerRightIcon{
    padding: 0 10px;
    font-size: 20px;
    color: white;
}
.headerRightIconLink{
    color: white;
}

.test{
    background-color: #ffb44f;
    color: white;
    font-size: 30px;
}


/* Tablet and Smaller Desktop */
@media (min-width: 901px) and (max-width: 1300px) {
    .headerMiddleItem{
        font-size: 22px;
        gap: 10px;
    }
    .logo{
        height: 60px;
        width: 100%;
    }
    .brandName{
        font-size: 22px;
    }
}

/* 手機 */
@media screen and (max-width:900px) {

    .headerMiddleItem{
        font-size: 16px;
        margin: 0 6px;
    }
    .logo{
        height: 46px;
        width: 100%;
    }
    .brandName{
        font-size: 16px;
    }
}