@charset "UTF-8";
.w-250 {
  width: 250px;
}

.web-style {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.descriptionPart {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.swiper {
  height: 120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  width: 100%; /* 確保圖片寬度適應容器 */
  height: 500px; /* 高度根據寬度自動調整 */
  -o-object-fit: contain;
     object-fit: contain; /* 縮放圖片以顯示完整 */
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  margin: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
  object-fit: cover;
} 
.noline {
  text-decoration: none;
}

.amount-form {
  height: 2.75rem;
  font-size: 20px;
}

.amount-btn-group-wide {
  position: relative;
  border: 1px #f7bcc5;
}

.amount-btnL {
  width: 40px;
  height: 100%;
  border: radius 100%;
  border: none;
  position: absolute;
  left: 0px;
}

.amount-btnR {
  width: 40px;
  height: 100%;
  border: radius 100%;
  border: none;
  position: absolute;
  right: 0px;
}

.search-group {
  position: relative;
  margin-left: 20px;
}

.search-bar {
  position: relative;
  text-indent: 26px;
}

.BsSearch {
  position: absolute;
  top: 50px;
  left: 15px;
}

.item-select {
  width: 16px;
  height: 16px;
}

.option-fcolor {
  color: #807E7E;
}

.moneyOptionsPart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 8px;
  margin: 20px 0;
}
.moneyOptionsPart .eachMoney {
  padding: 10px 15px;
  border: 1px solid #dae6ff;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}
.moneyOptionsPart .eachMoney.selected {
  border-color: #FFEE34;
  color: #FFEE34;
  position: relative;
}
.moneyOptionsPart .eachMoney.selected ::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 33px solid transparent;
  border-bottom: 22px solid #FFEE34;
}
.moneyOptionsPart .eachMoney.selected ::after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 7px;
  width: 5px;
  height: 10.66px;
  border-bottom: 2px solid #1c2b4a;
  border-right: 2px solid #1c2b4a;
  transform: rotate(40deg);
}

.with-space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.with-space .cardTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  min-height: 3.2em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-outline:focus {
  border: none;
}

@media screen and (max-width: 760px) {
  .amount-form {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .cardTitle {
    font-size: 14px;
    min-height: 2.8em;
    margin-bottom: 8px;
    height: auto;
  }
  .with-space {
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  }
}/*# sourceMappingURL=product.css.map */