// Swiper照片牆樣式區
.SwiperContainer {
    position: relative;
    height: 50%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
  
  .swiper {
    width: auto;
    height: 500px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 900px;
    height: 900px;
  }
  
  .swiper-slide img{
    display: block;
    width: 100%;
  }
  .swiper-3d .swiper-slide-shadow-right{
    background-image: linear-gradient(to right, white, rgba(0, 0, 0, 0))
  }
  .swiper-3d .swiper-slide-shadow-left{
    background-image: linear-gradient(to right, white, rgba(0, 0, 0, 0))
  }
  @media screen and (max-width: 900px) {
    .SwiperContainer {
    width: 80%;

    }
  }